@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Cinzel", sans-serif;

  --color-dark-black: #010a13;
  --color-dark-darkest: #282a36;
  --color-dark-secondary: #1e2328;
  --color-dark-text: #efe5d1;
  --color-dark-lighter: #eddc91;
  --color-dark-light: #ceaf6f;

  --color-light-black: #d1d5db;
  --color-light-darkest: #f9fafb;
  --color-light-secondary: #e5e7eb;
  --color-light-light: #d8dee9;
  --color-light-lighter: #bfdbfe;
  --color-light-text: #1f2937;
}

@utility smooth-transition {
  transition: all 0.5s ease-in-out;
}
