@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Cinzel", sans-serif;

  --color-dark-black: #010a13;
  --color-dark-darkest: #282a36;
  --color-dark-secondary: #1e2328;
  --color-dark-text: #efe5d1;
  --color-dark-lighter: #eddc91;
  --color-dark-light: #ceaf6f;

  --color-light-darkest: #eceff4;
  --color-light-secondary: #d8dee9;
  --color-light-text: #2e3440;
  --color-light-light: #88c0d0;
}

@utility smooth-transition {
  transition: all 0.5s ease-in-out;
}
